/* Primary color: black */
/* Secondary color: E043BE */
/* Black shade: 404040 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
}

:root {
  --primaryColor: #af0069;
  --primaryDarkerColor: #700746;
  --greyColor: #979797;
  --lightWhite: rgb(231, 231, 231);
}

body {
  background-color: black;
  color: rgb(227, 227, 227);
  font-family: "Oswald", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/* .mainContainer {
  width: 90%;
  margin: 0 auto;
} */

h1 {
  font-size: 4.5rem;
  color: var(--primaryColor);
}

h2 {
  color: var(--primaryColor);
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
  padding-top: 2rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p,
pre,
label {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: var(--lightWhite);
}

span {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

button {
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: white;
  background-color: var(--primaryColor);
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  border: none;
  border-radius: 3px;
}

button:hover {
  background-color: var(--primaryDarkerColor);
}

.aBtn {
  color: #e043be;
  font-size: 1.7rem;
}

.aBtn:hover {
  color: #87156e;
}

input,
textarea {
  background-color: black;
  border: none;
  color: white;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  font-family: inherit;
}

.subHeading {
  color: var(--greyColor);
}

/*************** Navigation ******************/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7rem;
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;
}

nav .links a {
  margin-left: 5rem;
  color: rgb(227, 227, 227);
  text-decoration: none;
}

nav .logo,
footer .logo {
  font-size: 2.7rem;
  font-weight: 400;
  color: var(--primaryColor);
}

/*************** Header ******************/

header {
  display: flex;
  height: 90vh;
  width: 90%;
  margin: 0 auto;
}

header .logo {
  width: 50%;
  line-height: 1.2;
  text-align: center;
  color: #3f3f3f;
}

header span {
  font-size: 40rem;
  font-weight: 400;
}

header .heroText {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

header .heroText h1 {
  line-height: 1;
  margin-bottom: 1rem;
}

header p {
  margin-bottom: 2rem;
}

header p {
  width: 70%;
}

/*************** Projects ******************/

.project {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem;
  padding: 3rem;
  background-color: #170f14;
  margin-bottom: 3rem;
}

.ss.gpa {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(153, 14, 123, 0.243)),
    url(../images/gpa.jpg);
  height: 22rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.ss.bmi {
  background: linear-gradient(
      to right,
      rgba(77, 8, 62, 0.6),
      rgba(113, 18, 92, 0.3)
    ),
    url(../images/bmi.png);
  height: 22rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.demoBtn {
  margin-right: 2rem;
}

/*************** Project ******************/

.projectIntro img {
  width: 60%;
  display: block;
  margin: 2rem auto;
  filter: brightness(70%);
}

.codeHead {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  color: #25b2ef;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.code {
  background-color: #170f14;
  padding: 3rem;
}

.ctc {
  text-decoration: underline;
  cursor: pointer;
}

/*************** Contact Us ******************/

#contactForm {
  min-height: 100vh;
  margin-bottom: 5rem;
  width: 90%;
  margin: 0 auto;
}

#contactForm p {
  grid-column: 1/-1;
  text-align: center;
}

#contactForm button {
  grid-column: 1/-1;
  text-align: center;
  justify-self: center;
}

.formDiv {
  margin-top: 7rem;
}

form {
  background-color: #170f14;
  width: 60%;
  padding: 3rem 7rem;
  row-gap: 1rem;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
}

/*************** Footer ******************/

footer {
  border-top: 1px solid grey;
  color: rgb(160, 160, 160);
}

.footerContainer {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  width: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 3rem;
}

.footerHeads {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.3rem;
}

footer a {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  color: inherit;
  text-decoration: none;
}

.footerContainer > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
