@media (max-width: 1110px) {
    html {
        font-size: 45%;
        /* font-size: 55%; */
    }

    .gpa {
        width: 95%;
        height: 80vh;
      }
}

@media (max-width: 600px) {
    .sem .box {
        grid-template-columns: 1fr;
      }

      .firstSemChem .box {
        grid-template-columns: 1fr;
        max-width: 50rem;
      }
}